In [1]:
import pandas as pd

In [2]:
# Importando o dataframe
tech_data = pd.read_csv('C:/Users/lucas/Desktop/Projeto/TechnologyIndex.csv')
tech_data.head()

,Rank,Country,iPhone,Android,MacBook,Windows Powered,PS4,Xbox one,iPad mini,Samsung tablet,40 inch smart TV,Apple Watch,Brand headphone,hard drive 2TB,Portable charger,Printer
0,1,Kuwait,$641.50,$539.18,$795.38,$528.34,$315.83,$418.50,$242.90,$250.98,$383.60,$242.90,$196.95,$89.03,$2.44,$52.36
1,2,Saudi Arabia,$513.86,$699.61,"$1,054.98",$686.88,$317.86,$254.24,$380.47,$152.44,$406.93,$381.48,$338.22,$114.27,$4.83,$30.03
2,3,Malaysia,$532.06,$631.66,"$1,010.31","$1,022.67",$299.83,$355.47,$232.87,$354.99,$324.87,$248.43,$175.48,$116.16,$11.41,$108.69
3,4,Canada,$555.25,$625.04,"$1,118.10","$1,081.40",$274.25,$233.14,$237.34,$392.89,$364.30,$259.21,$159.71,$87.12,$9.24,$57.13
4,5,United Arab Emirates,$498.25,$592.31,"$1,073.30","$1,026.68",$324.72,$285.72,$259.71,$311.71,$467.68,$285.71,$181.73,$84.49,$10.13,$95.93

In [3]:
# Limpeza de dados do dataframe
tech_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              72 non-null     int64
 1   Country           72 non-null     object
 2   iPhone            72 non-null     object
 3   Android           72 non-null     object
 4   MacBook           72 non-null     object
 5   Windows Powered   72 non-null     object
 6   PS4               72 non-null     object
 7   Xbox one          72 non-null     object
 8   iPad mini         72 non-null     object
 9   Samsung tablet    72 non-null     object
 10  40 inch smart TV  72 non-null     object
 11  Apple Watch       72 non-null     object
 12  Brand headphone   72 non-null     object
 13  hard drive 2TB    72 non-null     object
 14  Portable charger  72 non-null     object
 15  Printer           72 non-null     object
dtypes: int64(1), object(15)
memory usage: 9.1+ KB

In [4]:
tech_data.isna().any() # NÃ£o possue valores nulos

Rank                False
Country             False
iPhone              False
Android             False
MacBook             False
Windows Powered     False
PS4                 False
Xbox one            False
iPad mini           False
Samsung tablet      False
40 inch smart TV    False
Apple Watch         False
Brand headphone     False
hard drive 2TB      False
Portable charger    False
Printer             False
dtype: bool

In [5]:
# Removendo '$' de todas as linhas e colunas
tech_data.columns
colunas = tech_data[['iPhone', 'Android', 'MacBook', 'Windows Powered',
       'PS4', 'Xbox one', 'iPad mini', 'Samsung tablet', '40 inch smart TV',
       'Apple Watch', 'Brand headphone', 'hard drive 2TB', 'Portable charger',
       'Printer']]


for col in colunas:
    tech_data[col] = tech_data[col].str.replace('$', '')

tech_data

,Rank,Country,iPhone,Android,MacBook,Windows Powered,PS4,Xbox one,iPad mini,Samsung tablet,40 inch smart TV,Apple Watch,Brand headphone,hard drive 2TB,Portable charger,Printer
0,1,Kuwait,641.50,539.18,795.38,528.34,315.83,418.50,242.90,250.98,383.60,242.90,196.95,89.03,2.44,52.36
1,2,Saudi Arabia,513.86,699.61,"1,054.98",686.88,317.86,254.24,380.47,152.44,406.93,381.48,338.22,114.27,4.83,30.03
2,3,Malaysia,532.06,631.66,"1,010.31","1,022.67",299.83,355.47,232.87,354.99,324.87,248.43,175.48,116.16,11.41,108.69
3,4,Canada,555.25,625.04,"1,118.10","1,081.40",274.25,233.14,237.34,392.89,364.30,259.21,159.71,87.12,9.24,57.13
4,5,United Arab Emirates,498.25,592.31,"1,073.30","1,026.68",324.72,285.72,259.71,311.71,467.68,285.71,181.73,84.49,10.13,95.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,68,Guatemala,889.56,591.31,"1,525.26","2,055.53",535.11,341.96,699.26,424.11,457.76,508.51,381.22,131.32,25.20,144.91
68,69,Brazil,843.30,948.74,"3,390.96",564.91,565.20,425.09,525.04,297.18,810.67,383.39,237.98,216.85,2.23,112.74
69,70,Brunei,764.02,856.47,"2,326.47","1,545.52",562.67,737.90,387.77,660.51,388.83,679.29,523.69,192.76,105.14,212.22
70,71,Angola,401.94,"2,641.01","1,001.06","1,574.17",868.75,528.11,551.84,"1,054.42","1,405.90",430.88,219.97,274.15,54.22,143.48
71,72,Venezuela,"97,813.82","78,054.19","176,005.34","35,941.09","56,723.53","37,073.79","31,228.64","45,904.12","119,321.58","48,810.16",733.68,"14,386.04",371.87,"6,653.44"

In [6]:
# Removendo ',' de todas as linhas e colunas

for col in colunas:
    tech_data[col] = tech_data[col].str.replace(',', '')

tech_data

,Rank,Country,iPhone,Android,MacBook,Windows Powered,PS4,Xbox one,iPad mini,Samsung tablet,40 inch smart TV,Apple Watch,Brand headphone,hard drive 2TB,Portable charger,Printer
0,1,Kuwait,641.50,539.18,795.38,528.34,315.83,418.50,242.90,250.98,383.60,242.90,196.95,89.03,2.44,52.36
1,2,Saudi Arabia,513.86,699.61,1054.98,686.88,317.86,254.24,380.47,152.44,406.93,381.48,338.22,114.27,4.83,30.03
2,3,Malaysia,532.06,631.66,1010.31,1022.67,299.83,355.47,232.87,354.99,324.87,248.43,175.48,116.16,11.41,108.69
3,4,Canada,555.25,625.04,1118.10,1081.40,274.25,233.14,237.34,392.89,364.30,259.21,159.71,87.12,9.24,57.13
4,5,United Arab Emirates,498.25,592.31,1073.30,1026.68,324.72,285.72,259.71,311.71,467.68,285.71,181.73,84.49,10.13,95.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,68,Guatemala,889.56,591.31,1525.26,2055.53,535.11,341.96,699.26,424.11,457.76,508.51,381.22,131.32,25.20,144.91
68,69,Brazil,843.30,948.74,3390.96,564.91,565.20,425.09,525.04,297.18,810.67,383.39,237.98,216.85,2.23,112.74
69,70,Brunei,764.02,856.47,2326.47,1545.52,562.67,737.90,387.77,660.51,388.83,679.29,523.69,192.76,105.14,212.22
70,71,Angola,401.94,2641.01,1001.06,1574.17,868.75,528.11,551.84,1054.42,1405.90,430.88,219.97,274.15,54.22,143.48
71,72,Venezuela,97813.82,78054.19,176005.34,35941.09,56723.53,37073.79,31228.64,45904.12,119321.58,48810.16,733.68,14386.04,371.87,6653.44

In [7]:
# Corrigindo o Dtype das colunas

for col in colunas:
    tech_data[col] = tech_data[col].astype(dtype='float')

tech_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              72 non-null     int64
 1   Country           72 non-null     object
 2   iPhone            72 non-null     float64
 3   Android           72 non-null     float64
 4   MacBook           72 non-null     float64
 5   Windows Powered   72 non-null     float64
 6   PS4               72 non-null     float64
 7   Xbox one          72 non-null     float64
 8   iPad mini         72 non-null     float64
 9   Samsung tablet    72 non-null     float64
 10  40 inch smart TV  72 non-null     float64
 11  Apple Watch       72 non-null     float64
 12  Brand headphone   72 non-null     float64
 13  hard drive 2TB    72 non-null     float64
 14  Portable charger  72 non-null     float64
 15  Printer           72 non-null     float64
dtypes: float64(14), int64(1), object(1)
memory usage: 9.1+ KB

In [8]:
# Salvando o banco de dados limpo
tech_data.to_csv('cleaned_data.csv', index=False)